html, body {
    font-size: 16px;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

body {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAjUlEQVQY0z3O2wGEIAxFwRNAwBchevuvdX9wK5ghmG6kUhKMwLG6U12SvNGrMXYuKcYI6aYPnFtPxYwaGgys6UnZ39eLhbrB1JZfPY+0FT2QFUydxq7AtZGOnhQcJ6HUjkzJMILhTDdyQZqN3v4flu++Piz/HuvD538flm/fh+XX8n0uQqnfOV97UnD+AFjXCkRi0qpIAAAAAElFTkSuQmCC');
}

.page {
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
    z-index: 1;
}

.cover {
    position: absolute;
    height: 150px;
    width: 100%;
    margin-top: 18%;
    z-index: 999;
    display: none;
}

    .cover > ul {
        list-style: none;
        margin: auto;
        width: 900px;
    }

        .cover > ul > li {
            float: left;
            margin-left: 60px;
            margin-right: 60px;
            cursor: pointer;
        }

            .cover > ul > li > p {
                text-align: center;
                font-size: 20px;
                color: #fff;
                text-shadow: 0 0 6px #fff;
                margin-top: 10px;
            }

.mohu {
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.stage {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: transparent;
    border: none;
    z-index: 900;
}

.navbar-bottom {
    height: 100px;
}

.navbar-top {
    height: 150px;
    padding-top: 20px;
    background: transparent url(../image/shadow.png) repeat-x center top;
}

.fp-controlArrow {
    display: none;
}

.section {
    background-size: cover;
}

.bg-image > img {
    width: calc(100%);
    height: calc(100%);
}

.hide-elem {
    opacity: 0;
}

#nav_right {
    list-style: none;
}

    #nav_right > li {
        float: left;
        margin-left: 32px;
    }

textarea {
    resize: none;
}

.popover {
    border: 3px solid rgba(50,50,50,.6);
    border-radius: 0;
    background-color: #fdfdfd;
}

.popover-title {
    text-align: center;
    background-color: #fff;
    margin: 8px 30px;
    border-bottom: 3px solid rgba(50,50,50,.6);
}

.modal-header {
    text-align: center;
    border-bottom: 3px solid rgba(50,50,50,.6);
    margin: 5px 30px;
}

.modal-footer {
    border: none;
}

.modal-content {
    border-radius: 0;
    border: 3px solid rgba(50,50,50,.6);
    background-color: #fdfdfd;
}

.btn-primary {
    background-color: #323232;
    border-color: #323232;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #464646;
        border-color: #464646;
    }

.btn-default.active {
    color: #fff;
    background-color: #323232;
    border-color: #323232;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border: 1px solid #323232;
    outline: 0;
    box-shadow: none;
}

.carousel-inner > .item > h2 {
    margin-left: 20px;
    padding-left: 80px;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: #111;
    position: relative;
    font-size: 22px;
}

.carousel-inner > .item > div {
    margin: 10px 20px;
    color: #000;
}

.carousel-indicators li {
    background-color: #fff;
    border: 1px solid #000;
}

.carousel-indicators .active {
    background-color: #000;  
}

.section .container {
    margin-top: 200px;
}