#nav_item {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    opacity: 1;
    transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    pointer-events: auto;
}

.white #nav_item {
    opacity: 0;
}

#nav_item:hover {
    width: 80px;
    height: 80px;
}

.nav-item {
    float: left;
    width: 14%;
    height: 14%;
    margin: 3%;
    background: #FFF;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
}

.nav-item.active {
    background: #666;
}

.nav-item:hover {
    background: #333;
}
