.map-container{
	width:100%;
	height:100%;
	position:relative; 
}
.map-province1{
	width:200px;
	height:50px;
	cursor:pointer;
	float:left;}
.province1{
	display:none;
	right:0;
	top:0;
	width:auto;
	height:auto;
	position:absolute;
	}
 
